{% extends 'base.html.twig' %}

{% block title parent() ~ ' - Project: ' ~ project.name %}

{# @var mainLibrary \App\Entity\Library #}
{% set mainLibrary = project.mainLibrary %}
{# @var libraryGraph \App\ComplexityReport\GraphData #}
{% set libraryGraph = mainLibrary.asGraph %}

{% block content %}
    <main data-controller="@symfony/ux-swup/swup" data-containers="#nav #swup">
        <div class="bg-white p-3 shadow-lg">
            <div class="container d-flex justify-content-between">
                <a class="logo" href="{{ path('start') }}">
                    <h2 class="mb-0">Open Source PHP Software</h2>
                    <h1 class="mb-0">Complexity Report</h1>
                </a>
                <div id="nav" class="btn-group-lg mt-2">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ project.name }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% for project in projects %}
                            <a class="dropdown-item {{ project.name == loop.parent.project.name ? 'disabled' }}"
                               href="{{ path('project', {'vendor': project.vendor}) }}">
                                {{ project.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="swup" class="js-project container mt-5">
            <h2 class="mb-0">Project: {{ project.name }}
                <a href="{{ project.url }}" target="_blank" class="text-secondary"
                   title="{{ project.url|replace({'https://':'', '/':''}) }}">
                    <i class="fas fa-external-link-square-alt h6"></i>
                </a>
            </h2>
            <div data-controller="project"
                 data-main-lib="{{ mainLibrary.name }}"
                 data-labels="{{ libraryGraph.labels|json_encode|e('html_attr') }}"
                 data-tag-data="{{ libraryGraph.tagData|json_encode|e('html_attr') }}">
                <canvas id="canvas" class="img-fluid"></canvas>
                <div class="form-group mx-3 my-4">
                    <h3>Libraries</h3>
                    <select class="js-library-select form-control" name="libraries[]" multiple="multiple">
                        {% for library in project.libraries %}
                            <option value="{{ library.id }}" {{ library.id == mainLibrary.id ? 'selected="selected"' }}>{{ library.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
